{% extends "base.html" %}

{% load i18n active_link_tags account django_bootstrap5 gravatar %}

{% block content %}

<div class="container">
  <div class='row'>
    <div class='col col-md-9 col-lg-6 mx-auto'>
          
    <header class='text-center mb-3'>
      <img src="{% gravatar_url user.email 150 %}" style="width: 150px; height: 150px;" class='rounded-full bg-light mb-3 overflow-hidden' />
      <h1>{% user_display request.user %}</h1>
    </header>

    <br />
    <ul class="nav nav-tabs justify-content-center">
      <li class="{% block account_nav_profile %}{% endblock %}">
        <a class='nav-link {% active_link "account_membership" %}' href="{% url 'account_membership' %}">{% trans 'Membership' %}</a>
      </li>
      <li class="{% block account_nav_billing_shipping %}{% endblock %}">
        <a class='nav-link {% active_link "billing_shipping" %}' href="{% url 'billing_shipping' %}">{% trans 'Billing/Shipping' %}</a>
      </li>
      <li class="{% block account_nav_gift_cards %}{% endblock %}">
        <a class='nav-link {% active_link "gift_cards" %}' href="{% url 'gift_cards' %}">{% trans 'Gift Cards' %}</a>
      </li>
      <li class="{% block account_nav_email %}{% endblock %}">
        <a class='nav-link {% active_link "account_email" %}' href="{% url 'account_email' %}">{% trans 'Emails' %}</a>
      </li>
      <li class="{% block account_nav_change_password %}{% endblock %}">
        <a class='nav-link {% active_link "account_change_password" %}' href="{% url 'account_change_password' %}">{% trans 'Password' %}</a>
      </li>
      {% comment %} {% url 'socialaccount_connections' as connections_url %}
      {% if connections_url %}
      <li class="{% block account_nav_socialaccount_connections %}{% endblock %}">
        <a class='nav-link' href="{{ connections_url}}">{% trans 'Connected Accounts' %}</a>
      </li>
      {% else %}
      <li>No connections url</li>
      {% endif %} {% endcomment %}
    </ul>
    <br />
    {% block account_content %}
    {% endblock %}

    </div>
  </div>
</div>

{% endblock %}
