{% extends "account/base.html" %}
{% load account django_bootstrap5 gravatar %}

{% block account_content %}
<div class='text-center'>
  {% if request.user.is_member %}
    <h3 class='fw-light'>
      Your plan is <b>{{ user.subscribed_product.name }}</b> and you're paying {{ user.subscribed_price.human_readable_price }}
    </h3>

    {% url "customerportal" as portal_url %}
    <div class='my-4'>
      {% bootstrap_button href=portal_url content="Manage shipping and billing" %}
    </div>
  {% else %}
    <h3 class='fw-light'>
      You're not a member at the moment
    </h3>
    <div class='my-4'>
      {% bootstrap_button href="/" content="Become a member" %}
    </div>
  {% endif %}
</div>
{% endblock %}
