{% extends "account/base.html" %}
{% load account django_bootstrap5 gravatar setting gift_card %}

{% block account_content %}
<div>
  {% if user.is_member %}
    <div class='d-flex flex-column justify-content-center align-items-center'>
      {% include "app/includes/membership_card.html" %}
      <br /><br />
      {% if not user.active_subscription.cancel_at %}
        {% url "cancel_membership" as cancellation_url %}
        {% bootstrap_button size='sm' button_class='btn-outline-danger' href=cancellation_url content="Cancel membership" %}
      {% endif %}
    </div>
  {% else %}
    <h3 class='fw-light text-center'>
      You're not a member at the moment.
    </h3>
    <div class='my-4 text-center'>
      {% bootstrap_button href="/" content="Become a member" %}
    </div>
  {% endif %}
</div>
{% endblock %}
