{% extends "account/modal_base.html" %}

{% load i18n %}
{% load url django_bootstrap5 account socialaccount %}

{% block head_title %}{% trans "Create an account" %}BS{% endblock %}

{% block modal_content %}
{% get_providers as socialaccount_providers %}

<h1 class='text-center'>{% trans "Let's get you set up" %}</h1>
    
<div class="row">
  {% if socialaccount_providers  %}
  <div class="col-md-5 col-lg-5">
    {% include "allauth/account/provider_panel.html" with process="login" %}
  </div>
  {% endif %}

  <div>
    <p class='text-center'>{% blocktrans %}Or <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        
    <form data-turbo="false" id="signup_form" method="post" action="{% url 'account_signup' %}{% qs_link %}">
      {% csrf_token %}
      {% bootstrap_form form show_label=False exclude="gdpr_email_consent" %}
      {% bootstrap_field form.gdpr_email_consent show_label=True %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="form-actions text-center">
        {% bootstrap_button size='lg' button_class="btn-primary" content="Register and checkout" %}
      </div>
    </form>
  </div>
</div>
{% endblock %}
