{% extends "app/emails/base.html" %}
{% load setting %}
{% block title %}Your Left Book Club gift code{% endblock %}
{% block text %}
    <mj-text color="#637381" font-size="16px">
    Hi {{ user }},
    </mj-text>
    <mj-text color="#637381" font-size="16px">
    Thanks for supporting the Left Book Club with your gift purchase.
    </mj-text>
    <mj-text color="#637381" font-size="16px">
    Your unique gift code is <b>{{ promo_code }}</b>. <b>Ask them to visit <a href='{% setting "BASE_URL" %}{% url "redeem" code=promo_code %}'>this link</a> to activate their membership</b> and start receiving books to their door. You can forward this email on to them.
    </mj-text>
    <mj-button background-color="#5e6ebf" align="center" color="#ffffff" font-size="17px" font-weight="bold" href="{% setting "BASE_URL" %}{% url "redeem" code=promo_code %}" width="300px">
    Redeem membership
    </mj-button>
    <mj-text color="#637381" font-size="16px" padding-bottom="30px">
    All the best,
    <br />
    The Left Book Club team
    </mj-text>
{% endblock %}
