{% extends "base.html" %}
{% load setting %}

{% block title %}Checkout{% endblock %}

{% block header %}{% endblock %}

{% block container_class %}tw-h-screen my-0 text-center d-flex flex-column justify-center align-content-center align-items-center justify-content-center tw-justify-items-center align-middle py-4 h5{% endblock %}

{% block content %}
<span>Payment complete.</span>
<a class='fs-5 monospace my-4' href='{{next}}' data-turbo-action="replace">Click this link if the page doesn't automatically redirect</a>
{% endblock %}

{% block bottom_of_page %}
<script async src="https://js.stripe.com/v3/"></script>
<script>
  try {
    {% setting "FACEBOOK_PIXEL" as FACEBOOK_PIXEL %}
    {% if FACEBOOK_PIXEL %}
      {% if subscription %}
        console.log("fbq('track', 'Subscribe', { currency: '{{currency}}', value: '{{value}}' });")
      {% elif payment_intent %}
        console.log("fbq('track', 'Purchase', { currency: '{{currency}}', value: '{{value}}' });")
      {% endif %}
    {% endif %}
  } catch(e) {

  } finally {
    try {
      Turbo.visit("{{next}}", { action: "replace" })
    } catch(e) {
      fn = function () {
        document.addEventListener("turbo:load", fn)
        Turbo.visit("{{next}}", { action: "replace" })
      }
      document.addEventListener("turbo:load", fn)
    }
  }
</script>
{% endblock %}

{% block footer %}{% endblock %}
