{% extends "base.html" %}
{% block title %}Checkout{% endblock %}
{% block extra_js %}
<script async src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  window.addEventListener('load', (event) => {
    console.log(event)
    // Create a Stripe client.
    redirect()
  })

  // Try the redirect regularly
  const REDIRECT_AFTER = 1000
  setTimeout(redirect, REDIRECT_AFTER)
  setInterval(
    () => setTimeout(redirect, REDIRECT_AFTER),
    REDIRECT_AFTER
  )
  function redirect() {
    var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    stripe.redirectToCheckout({
      // Get the id field from the Checkout Session creation API response
          sessionId: '{{CHECKOUT_SESSION_ID}}'
      })
      .then(function (result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, display the localized error message to your customer
          // using `result.error.message`.
          if (result.error) {
              alert(result.error.message);
          }
      })
      .catch(function (error) {
        console.error("Error:", error);
      });
  }
</script>
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div class='h-100 text-center d-flex justify-center align-content-center align-items-center justify-content-center tw-justify-items-center align-middle py-4 h5'>
  <span>Redirecting to payment...</span>
</div>
{% block footer %}{% endblock %}
{% endblock %}
