{% load static menu_tags %}
<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <img src="{% static 'images/logo.png' %}" style='width: 60px;'/>
      <small class="d-block mb-3 text-muted">© 2015-{% now "Y" %}</small>
    </div>
    <div class="col-6 col-md">
      <div class="text-small d-flex flex-row gap-5 justify-content-end">
        {% for item in menu_items %}
            <a class="link-secondary text-decoration-none" href="{{item.href}}">{{item.text}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>
