{% load static %}
<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <img src="{% static 'images/logo.png' %}" style='width: 60px;'/>
  </a>

  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="py-2 text-dark text-decoration-none" href="#">Membership</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">About</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Donate</a>
    <a class="py-2 text-dark text-decoration-none" href="#">Books</a>
  </nav>
</header>
