{% extends "app/signup/join_flow_base.html" %}
{% load wagtailcore_tags django_bootstrap5 %}
{% block join_step %}
    <div class='tw-mx-auto tw-max-w-lg tw-w-full tw-px-3'>
        <h2 class='tw-text-lg'>Add a {{ membership_plan_price.interval }}ly donation?</h2>
        <p class='tw-mb-4'>
            LBC is a not-for-profit political education project. <a href='/about' target='_blank' rel='noopener noreferrer'>Learn more</a>
            We rely on donations from our supporters to keep our membership affordable to all.
        </p>
        {% include "app/includes/donation_form.html" with confirm_text="Continue" continue_without=True %}
    </div>
{% endblock %}
