{% extends "app/signup/join_flow_base.html" %}
{% load wagtailcore_tags django_bootstrap5 %}
{% block join_step %}
    <form data-turbo="false"
          method="POST"
          class="tw-mx-auto tw-max-w-lg tw-w-full tw-px-3">
        <h2 class='tw-text-lg tw-mb-4'>Where should we deliver to?</h2>
        {% csrf_token %}
        <div class='position-relative'>{% bootstrap_field form.country show_label=False %}</div>
        {% bootstrap_button button_type="submit" content="Continue" %}
    </form>
{% endblock %}
