/* purgecss end ignore */

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-weight: bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply tw-bg-background;
}
* {
  letter-spacing: -0.04em;
}
p {
  letter-spacing: -0.025em;
}
.small-text,
.small-text * {
  @apply tw-text-sm;
  letter-spacing: 0.04em;
}

.banner-text {
  letter-spacing: 0.2em;
  max-height: 1.5em;
  height: 1.5em;
  line-height: 150%;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
  pointer-events: none;
  background-color: transparent;
  cursor: default;
  user-select: none;

  &__strings {
    @apply tw-uppercase tw-font-serif tw-text-xs tw-opacity-75 tw-overflow-hidden tw-font-light;
    letter-spacing: 0.2em;
    position: absolute;
    white-space: nowrap;
    pointer-events: none;
    background-color: transparent;
    cursor: default;
    user-select: none;
    margin-left: -25%;
  }
}

.btn-primary {
  @apply tw-bg-yellow tw-w-full tw-text-black tw-border-0;
}
