// Colors
$primary: #fade70;
$custom-colors: (
  "primary": $primary,
  yellow: #f8f400,
  black: #231f20,
  teal: #46a9c2,
  darkgreen: #2d936c,
  lilacgrey: #a5a1bb,
  coral: #fe825e,
  purple: #9a93ff,
  magenta: #ff55b4,
  pink: #ffbbd2,
  lightgreen: #8fbb99,
);

// $theme-colors: map-merge($theme-colors, $custom-colors);
