
{% if settings.posthog_token %}
<script>
  !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
  posthog.init("{{ settings.posthog_token }}", {
    api_host: "{{ settings.posthog_url }}",
    autocapture: true,
    loaded: (posthog) => {
      if ("{{ environment.DEBUG }}" == "True") {
        // Permanently opt out all devs from analytics, if they ever run the system in debug mode
        posthog.opt_out_capturing()
      }

      // Capture visits mediated by Turbo
      window.addEventListener('turbo:load', () => {
        posthog.capture('$pageview')
      })
    }
  })
</script>
{% endif %}

{% if user.is_authenticated and settings.posthog_token %}
<script>
  (function identify() {
    let userId = "{{ user.id }}"
    if (!window.location.hostname.includes("leftbookclub.com")) {
      userId = `${userId}—${window.location.hostname}`
    }
    const email = "{{ user.email }}"
    const name = "{{ user.get_full_name }}"
    const stripeCustomerId = "{{ user.stripe_customer.id }}"
    if (userId) {
      posthog.identify(userId, {
        djangoId: userId,
        email: email || undefined,
        name: name || undefined,
      })
      if(!!stripeCustomerId && stripeCustomerId.length > 8) {
          posthog.alias(stripeCustomerId, userId)
      }
    }
  })()
</script>
{% endif %}
