<script>
{% include "app/includes/window_setting.html" with setting_name="SENTRY_PROJECT_ID" %}
{% include "app/includes/window_setting.html" with setting_name="SENTRY_ORG_SLUG" %}
{% include "app/includes/window_setting.html" with setting_name="SENTRY_DSN" %}
{% include "app/includes/window_setting.html" with setting_name="FLY_APP_NAME" %}
{% include "app/includes/window_setting.html" with setting_name="GIT_SHA" %}
{% include "app/includes/window_setting.html" with setting_name="STRIPE_LIVE_MODE" parse="boolean" %}
</script>
