{% load menu_tags humanize brand groundwork_geo wagtailsettings_tags account setting django_bootstrap5 wagtailcore_tags static wagtailroutablepage_tags django_bootstrap5 setting %}
<div class='row gx-2'>
  <div class='col'>
    {% load menu_tags humanize brand groundwork_geo wagtailsettings_tags account setting django_bootstrap5 wagtailcore_tags static wagtailroutablepage_tags django_bootstrap5 setting %}
    {% map in_place=False center="[-2.5, 53.6]" zoom=5.5 style="mapbox://styles/commonknowledge/cl7cnn4d6004a14nzcmvf0k01" %}
    <article class="px-4 my-3 md:tw-hidden">
      <h1 class='tw-text-4xl'>{{ value.title }}</h1>
      <div class='tw-text-lg'>
        {{ value.intro|richtext }}
      </div>
      {% if not user.is_member %}
        {% bootstrap_button href="/join" content="Join LBC and come along" %}
      {% endif %}
    </article>
    <main
      class='tw-flex tw-flex-col md:tw-grid md:tw-grid-cols-4 tw-gap-2 xl:tw-grid-cols-5'
      data-map-target="config"
      data-controller="zoom-to-source-features map-geolocator"
      data-zoom-to-source-features-source-ids-value='["events"]'
      data-zoom-to-source-features-max-zoom-value="12"
    >
      <section
        class='tw-col-span-2 tw-order-last md:tw-order-first'
        data-controller="fly-to-map"
        data-map-target="config"
      >
        <article class="px-4 my-3 tw-hidden md:tw-block">
          <h1 class='tw-text-4xl'>{{ value.title }}</h1>
          <div class='tw-text-lg'>
            {{ value.intro|richtext }}
          </div>
          {% if not user.is_member %}
            {% bootstrap_button href="/join" content="Join LBC and come along" %}
          {% endif %}
        </article>
        <ol class="tw-relative tw-list-none tw-p-0 tw-m-0 tw-space-y-2">
        {% for event in events %}
          {% if forloop.counter <= value.number_of_events %}
            <li
              data-action="mouseenter->fly-to-map#flyTo"
              data-fly-to-map-zoom="12"
              data-fly-to-map-lng-param="{{ event.geometry.coordinates.0 }}"
              data-fly-to-map-lat-param="{{ event.geometry.coordinates.1 }}"
              id="event-{{event.properties.id}}"
              data-location-type="{{ event.properties.location_type }}"
              class="">
                <div class='tw-flex tw-flex-row tw-bg-white'>
                  <div class="tw-w-[60px] tw-text-center tw-relative tw-flex-shrink-0">
                    <div class='tw-sticky tw-top-0 tw-py-3 tw-whitespace-nowrap tw-overflow-hidden tw-leading-5'>
                      <div class=''>{{ event.properties.starts_at|date:"j" }}</div>
                      <div class='tw-uppercase '>{{ event.properties.starts_at|date:"M" }}</div>
                    </div>
                  </div>
                  <div class="tw-p-3 tw-pl-1 tw-mb-1 tw-overflow-hidden tw-break-words tw-border-r-2 tw-border-r-transparent hover:tw-border-r-yellow tw-transition-all tw-flex-grow tw-flex-shrink">
                    <h3 class="tw-text-2xl tw-font-semibold tw-text-gray-900">{{ event.properties.name }}</h3>
                    <div class='tw-text-sm tw-font-normal tw-leading-none tw-mt-2 tw-text-gray-700'>
                      <div class="tw-mb-1">
                        <span class="tw-capitalize">{{ event.properties.location_type|replace:"_| " }}</span>
                        <span>&middot;</span>
                        <span>Starts at {{event.properties.starts_at|date:"P"}}</span>
                        <span>&middot;</span>
                        <span>{{event.properties.starts_at|naturaltime}}</span>
                      </div>
                      {% if event.properties.physical_address.formatted_address %}
                      <div>
                        {{ event.properties.physical_address.formatted_address }}
                      </div>
                      {% endif %}
                    </div>
                    {% comment %} {% bootstrap_button href=event.properties.url content="Learn more" %} {% endcomment %}
                  </div>
                </div>
            </li>
          {% endif %}
        {% endfor %}
        {% bootstrap_button href="/events" content="All upcoming events" %}
        </ol>
      </section>
      <section class='tw-h-[250px] md:tw-h-auto tw-relative md:tw-sticky md:tw-top-0 md:tw-col-span-2 xl:tw-col-span-3'>
          {% for id, data in sources.items %}
            {% map_source id=id data=data %}
          {% endfor %}
        
          {% for id, layer in layers.items %}
            {% map_layer id=id layer=layer %}
          {% endfor %}
    
          <div data-map-target="canvas" class='tw-h-full tw-w-full tw-absolute tw-top-0 tw-left-0'></div>
      </section>
    </main>
    {% endmap %}
  </div>
</div>