{% load wagtailcore_tags django_bootstrap5 djmoney %}
<section>
  <header class='row'>
    <div class='col'>
      <h2>{{ value.heading }}</h2>
      <div>{{ value.description|richtext }}</div>
    </div>
  </header>
  <div class='row'>
  {% for option in value.plans %}
    {% if option.plan.live %}
      {% with option.plan.prices.all.0 as display_price %}
      {% with option.plan.products.all as products %}
      <article class='col col-md-4'>
        <div class='{% firstof option.background_color "bg-yellow" %} overflow-hidden'>
          <div class='
            {% if not option.promotion_label %}opacity-0{% else %}opacity-50{% endif %}
            py-2 text-uppercase overflow-hidden tw-whitespace-nowrap tw-font-serif fs-7
          '>
            {% comment %} Loop center:N times {% endcomment %}
            {% with ''|center:50 as range %}
              {% for _ in range %}
                {% firstof option.promotion_label "placeholder" %}
              {% endfor %}
            {% endwith %}
          </div>
          <div class='px-4 pt-1 pb-4'>
              <h3>{{ option.plan.title }}</h3>
              <div class='fw-bold'>{% money_localize display_price.price %} per {% if display_price.interval_count > 1 %}{{ display_price.interval_count }}{% endif %} {{ display_price.interval}}{{option.plan.price.0.interval_count|pluralize:",s" }}</div>
              <div class='fw-bold'>{{ option.plan.deliveries_per_year }} deliveries per year</div>
              <div>{{ option.plan.description|richtext }}</div>
              <div class='mt-3'>
                {% if products|length == 1 %}
                  {% bootstrap_button button_class='btn-outline-dark' href="/product/"|add:products.0.id content="Select" %}
                {% else %}
                  {% bootstrap_button button_class='btn-outline-dark' href=option.plan.url content="Select" %}
                {% endif %}
              </div>
            </div>
        </div>
      </article>
      {% endwith %}
      {% endwith %}
    {% endif %}
  {% endfor %}
  </div>
</section>

{% comment %} {% load static wagtailroutablepage_tags django_bootstrap5 setting %}
{% with request.GET.gift_mode as gift_mode %}
  <header class="pricing-header p-3 pb-md-4 mx-auto text-center">
    {% if not gift_mode %}
      {% if user.is_member %}
        <h1 class="h1 fw-normal">Switch to a different membership tier</h1>
      {% else %}
        <h1 class="h1 fw-normal">Join the Left Book Club</h1>
        <p class="fs-5 text-muted">Your subscription will begin with the most recently published book in your chosen collection.</p>
      {% endif %}
      {% bootstrap_button href="?gift_mode=true" content="Gift someone a membership" %}
    {% else %}
      <h1 class="h1 fw-normal">Gift someone membership</h1>
      <p class="fs-5 text-muted">We'll send you a code. Send it to yours truly to redeem and they'll start receving books! Their membership will be free for as long as the gift card subscription is active.</p>
      {% bootstrap_button href="/" content="Get yourself a membership instead" %}
    {% endif %}
  </header>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mb-3 text-center justify-content-center">
      {% for product in products %}
      {% if product.metadata.primary %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm {% if product.metadata.primary %}border-primary{% else %}border-light{% endif %}">
          <div class="card-header py-3 text-white {% if product.metadata.primary %}bg-primary border-primary{% else %}bg-light text-dark border-light{% endif %}">
            <h4 class="my-0 fw-normal text-dark">{{ product.name }}</h4>
          </div>
          <div class="card-body">
            <div class="h1 card-title pricing-card-title">{{product.basic_price.human_readable_price}}</div>
            <p>{{ product.description }}</p>
            <a class="w-100 btn btn-lg {% if product.metadata.primary %}btn-primary{% else %}btn-light text-dark{% endif %}" href="{% routablepageurl page "pick_price_for_product" product_id=product.id %}{% if gift_mode %}?gift_mode=true{% endif %}">
              Select
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mb-3 text-center  justify-content-center">
      {% for product in products %}
      {% if not product.metadata.primary %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm {% if product.metadata.primary %}border-primary{% else %}border-medium{% endif %}">
          <div class="card-header py-3 text-white {% if product.metadata.primary %}bg-primary border-primary{% else %}bg-medium text-dark border-medium{% endif %}">
            <h5 class="my-0 fw-normal text-dark">{{ product.name }}</h5>
          </div>
          <div class="card-body">
            <div class="h2 card-title pricing-card-title">{{product.basic_price.human_readable_price}}</div>
            <p class='fs-7'>{{ product.description }}</p>
            <a class="w-100 btn btn-lg {% if product.metadata.primary %}btn-primary{% else %}btn btn-outline-primary text-dark{% endif %}" href="{% routablepageurl page "pick_price_for_product" product_id=product.id %}{% if gift_mode %}?gift_mode=true{% endif %}">
              Select
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </main>
{% endwith %} {% endcomment %}
