{% load wagtailcore_tags django_bootstrap5 url %}
{% with request.GET.gift_mode as gift_mode %}
{% with request.GET.annual as annual %}
<section class='my-4'>
  <header class='row gx-0'>
    <div class='col p-4'>
      <h2>{{ value.heading }}</h2>
      <div>{{ value.description|richtext }}</div>
      {% if not gift_mode %}
        {% qs_link gift_mode="true" as url %}
        {% bootstrap_button button_class='btn-outline-secondary' size='sm' href=url content="Gift a membership" %}
      {% else %}
        {% qs_link gift_mode=None as url %}
        {% bootstrap_button button_class='btn-outline-secondary' size='sm' href=url content="Buy yourself a membership instead" %}
      {% endif %}
      {% if not annual %}
        {% qs_link annual="true" as url %}
        {% bootstrap_button button_class='btn-outline-secondary' size='sm' href=url content="Switch to annual pricing" %}
      {% else %}
        {% qs_link annual=None as url %}
        {% bootstrap_button button_class='btn-outline-secondary' size='sm' href=url content="Switch to monthly pricing" %}
      {% endif %}
    </div>
  </header>
  <div class='row'>
  {% for option in value.plans %}
    {% if option.plan.live %}
      {% include_block option %}
    {% endif %}
  {% endfor %}
  </div>
</section>
{% endwith %}
{% endwith %}
