{% load url %}
{% with request.GET.gift_mode as gift_mode %}
    {% with request.GET.annual as annual %}
        {% if preload %}
            {% include "app/frames/membership_options_grid.html" with page_id=page.id field_name="layout" block_id=block.id annual=annual gift_mode=gift_mode %}
        {% else %}
            {% url "membership_options_grid" page_id=page.id field_name="layout" block_id=block.id as frame_url %}
            {% qs_link frame_url annual=annual gift_mode=gift_mode as current_url %}
            <turbo-frame id="membership-options" src="{{ current_url }}">
            </turbo-frame>
        {% endif %}
    {% endwith %}
{% endwith %}
