{% load djmoney books %}

<div class='row'>
    {% if not product.variants %}
        <div>
            <span class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"></span>
            Loading purchase options...
        </div>
    {% else %}
        {% for variant in product.variants %}
            <div class='tw-mb-2'>
                {% if variant.title != "Default Title" %}<h5>{{ variant.title }}</h5>{% endif %}
                {% if variant.inventory_quantity == 0 and variant.inventory_policy == 'deny' %}
                    Out of Stock
                {% elif loading %}
                    <span class="spinner-border spinner-border-sm"
                          role="status"
                          aria-hidden="true"></span>
                    <span>Loading...</span>
                {% else %}
                    <button onclick="gtag('event','add_to_cart'{
                        transaction_id: {{variant.title}}',
                        value: {{variant.price}},
                        currency: 'GBP',
                    });" 
                    class="btn btn-outline-secondary btn-disable-strikethrough"
                            {% if variant.inventory_quantity == 0 and variant.inventory_policy == 'deny' %} disabled="true" {% elif loading or disabled %} disabled="true" {% else %} data-bs-toggle="offcanvas" data-bs-target="#cart" data-action="click->product#add" data-product-variant-id-param="{{ variant.id }}" {% endif %}>
                        Add to cart
                    </button>
                {% endif %}
                <div class='tw-mt-2 fs-5 tw-font-bold'>
                 {% if variant.compare_at_price is not None %}
                        <b>{% money_localize variant.price "GBP" %}</b> <s>{% money_localize variant.compare_at_price "GBP" %}</s>
                    {% else %}
                        {% money_localize variant.price "GBP" %}
                    {% endif %}  
                 
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
