{% load tz menu_tags humanize brand groundwork_geo wagtailsettings_tags account setting django_bootstrap5 wagtailcore_tags static wagtailroutablepage_tags django_bootstrap5 setting %}
<li data-fly-to-map-zoom-param="12"
    data-fly-to-map-lng-param="{{ reading_group.coordinates.x }}"
    data-fly-to-map-lat-param="{{ reading_group.coordinates.y }}"
    data-action="mouseenter->fly-to-map#flyTo"
    id="event-{{ reading_group.id }}"
    data-list-filter-target="item"
    data-location-type="{% if reading_group.is_online %}virtual{% else %}in_person{% endif %}"
    class="{% firstof class 'tw-w-full tw-px-2' %}">

    <div class='tw-flex tw-flex-row tw-bg-white'>
        <div class="tw-w-[60px] tw-text-center tw-relative tw-flex-shrink-0">
            {% with first_date=reading_group.upcoming_dates.0 %}
                <div class='tw-sticky tw-top-0 tw-py-3 tw-whitespace-nowrap tw-overflow-hidden tw-leading-5'>
                    <div class='tw-text-lg tw-font-bold'>{{ first_date|date:"j" }}</div>
                    <div class='tw-uppercase tw-font-bold'>{{ first_date|date:"M" }}</div>
                </div>
            {% endwith %}
        </div>

        <div class="tw-p-3 tw-pl-1 tw-mb-1 tw-overflow-hidden tw-break-words tw-border-r-2 tw-border-r-transparent hover:tw-border-r-yellow tw-transition-all tw-flex-grow tw-flex-shrink">
            <h3 class="tw-text-2xl tw-font-semibold tw-text-gray-900">{{ reading_group.group_name }}</h3>
            <div class='tw-text-sm tw-font-normal tw-leading-none tw-mt-3 tw-text-gray-700'>
                {% with first_date=reading_group.upcoming_dates.0 %}
                    <div>
                        <span class="tw-capitalize">{% if reading_group.is_online %}virtual{% else %}in person{% endif %}</span>
                        <span>&middot;</span>
                        <span>Starts at {{ first_date|date:"P T" }}</span>
                        <span>&middot;</span>
                        <span>{{ first_date|naturaltime }}</span>
                    </div>
                {% endwith %}
                {% if reading_group.upcoming_dates|length > 1 %}
                    {% with first_date=reading_group.upcoming_dates.0 %}
                        {% for date in reading_group.upcoming_dates %}
                            {% if date != first_date %}
                                <div class="tw-text-xs tw-text-gray-500 tw-ml-1 tw-italic">
                                    Also on {{ date|date:"j M Y, P" }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endif %}

                {% if reading_group.in_person_location %}
                    <div class='tw-mt-2'>{{ reading_group.in_person_location }}</div>
                {% endif %}
            </div>

            {% if show_event is not False and reading_group.description %}
                <div class="tw-mt-2">{{ reading_group.description|richtext }}</div>
            {% endif %}

            {% if show_button is not False and reading_group.online_url %}
                <br />
                {% bootstrap_button href=reading_group.online_url content="Learn more" %}
            {% endif %}
        </div>
    </div>
</li>