{% load wagtailcore_tags django_bootstrap5 djmoney %}
{% with plan.prices.all.0 as display_price %}
{% with plan.products.all as products %}
  <h3>{{ plan.title }}</h3>
  <h5>{% money_localize display_price.price %} per {% if display_price.interval_count > 1 %}{{ display_price.interval_count }}{% endif %} {{ display_price.interval}}{{plan.price.0.interval_count|pluralize:",s" }}</h5>
  <h5>{{ plan.deliveries_per_year }} deliveries per year</h5>
  <div>{{ plan.description|richtext }}</div>
  {% if products|length == 1 %}
    {% bootstrap_button href="/product/"|add:products.0.id content="Select" %}
  {% else %}
    {% bootstrap_button href=plan.url content="Select" %}
  {% endif %}
{% endwith %}
{% endwith %}

{% comment %} {% load static wagtailroutablepage_tags django_bootstrap5 setting %}
{% with request.GET.gift_mode as gift_mode %}
  <header class="pricing-header p-3 pb-md-4 mx-auto text-center">
    {% if not gift_mode %}
      {% if user.is_member %}
        <h1 class="h1 fw-normal">Switch to a different membership tier</h1>
      {% else %}
        <h1 class="h1 fw-normal">Join the Left Book Club</h1>
        <p class="fs-5 text-muted">Your subscription will begin with the most recently published book in your chosen collection.</p>
      {% endif %}
      {% bootstrap_button href="?gift_mode=true" content="Gift someone a membership" %}
    {% else %}
      <h1 class="h1 fw-normal">Gift someone membership</h1>
      <p class="fs-5 text-muted">We'll send you a code. Send it to yours truly to redeem and they'll start receving books! Their membership will be free for as long as the gift card subscription is active.</p>
      {% bootstrap_button href="/" content="Get yourself a membership instead" %}
    {% endif %}
  </header>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mb-3 text-center justify-content-center">
      {% for product in products %}
      {% if product.metadata.primary %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm {% if product.metadata.primary %}border-primary{% else %}border-light{% endif %}">
          <div class="card-header py-3 text-white {% if product.metadata.primary %}bg-primary border-primary{% else %}bg-light text-dark border-light{% endif %}">
            <h4 class="my-0 fw-normal text-dark">{{ product.name }}</h4>
          </div>
          <div class="card-body">
            <div class="h1 card-title pricing-card-title">{{product.basic_price.human_readable_price}}</div>
            <p>{{ product.description }}</p>
            <a class="w-100 btn btn-lg {% if product.metadata.primary %}btn-primary{% else %}btn-light text-dark{% endif %}" href="{% routablepageurl page "pick_price_for_product" product_id=product.id %}{% if gift_mode %}?gift_mode=true{% endif %}">
              Select
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mb-3 text-center  justify-content-center">
      {% for product in products %}
      {% if not product.metadata.primary %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm {% if product.metadata.primary %}border-primary{% else %}border-medium{% endif %}">
          <div class="card-header py-3 text-white {% if product.metadata.primary %}bg-primary border-primary{% else %}bg-medium text-dark border-medium{% endif %}">
            <h5 class="my-0 fw-normal text-dark">{{ product.name }}</h5>
          </div>
          <div class="card-body">
            <div class="h2 card-title pricing-card-title">{{product.basic_price.human_readable_price}}</div>
            <p class='fs-7'>{{ product.description }}</p>
            <a class="w-100 btn btn-lg {% if product.metadata.primary %}btn-primary{% else %}btn btn-outline-primary text-dark{% endif %}" href="{% routablepageurl page "pick_price_for_product" product_id=product.id %}{% if gift_mode %}?gift_mode=true{% endif %}">
              Select
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </main>
{% endwith %} {% endcomment %}
