{% load wagtailcore_tags %}
{% if user.has_never_subscribed %}
  <div class='bg-warning'>
    <div class='container-xl py-2 text-center'>
      Looks like you didn't finish signing up. <a href='/join'>Pick a membership</a>
    </div>
  </div>
{% elif user.is_expired_member %}
  <div class='bg-warning'>
    <div class='container-xl py-2 text-center'>
      You're no longer a member. <a href='/join'>Renew today</a>
    </div>
  </div>
{% elif user.has_overdue_payment %}
  <div class='bg-warning'>
    <div class='container-xl py-2 text-center'>
      Your payment is overdue. <a href='{% url "customerportal" %}'>Update your payment details</a>
    </div>
  </div>
{% endif %}
