<form action="https://leftbookclub.us12.list-manage.com/subscribe/post?u=019242c04d20de49c287bd531&amp;id=84dbc2ff03" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <fieldset>
    <legend>{% firstof heading "Subscribe to the newsletter" %}</legend>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" name="EMAIL" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_019242c04d20de49c287bd531_84dbc2ff03" tabindex="-1" value=""></div>
    <button name='subscribe' value='subscribe' type="submit" class="btn btn-primary">Subscribe</button>
    <div id="passwordHelpBlock" class="form-text">
      You can change your mind at any time by clicking the unsubscribe link in the footer of our emails. <a href='https://www.leftbookclub.com/privacy-policy/'>Read our privacy policy here</a>. We use Mailchimp as our marketing platform. By subscribing you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/terms" target="_blank">Learn more about Mailchimp's privacy practices here.</a>
    </div>
  </fieldset>
</form>
