{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags setting valid_json djmoney to_date %}

{% block content%}

<article
  data-controller="product"
  data-product-shopify-domain-value="{% setting 'SHOPIFY_DOMAIN' %}"
  data-product-shopify-storefront-access-token-value="{% setting 'SHOPIFY_STOREFRONT_ACCESS_TOKEN' %}"
  data-product-shopify-collection-id-value="{% setting 'SHOPIFY_COLLECTION_ID' %}"
  data-product-shopify-product-id-value="gid://shopify/Product/{{ page.shopify_product_id }}"
  data-product-user-email-value="{{ user.primary_email }}"
  data-product-stripe-shipping-value='{{ user.stripe_customer.shipping|valid_json }}'
>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class='sticky sticky-top'>
          {% if product.images.0 %}
              <img src="{{ product.images.0.src }}" class="d-block w-100" />
          {% endif %}
      </div>

      {% comment %} <div class="social text-center my-3">
        <a href="https://twitter.com/intent/tweet?text={{ product.title | urlencode }}&url={% setting BASE_URL %}/{{ page.url | urlencode }}&via={{ site.social.twitter }}&hashtags=11ty,shopify" target="_blank">
          <i class="fa fa-fw fa-2x fa-twitter text-black-50">Share to Twitter</i>
        </a>
        <a href="https://www.facebook.com/dialog/share?app_id={{ site.social.fb_appid }}&display=popup&href=&href={% setting BASE_URL %}/{{ page.url | urlencode }}" target="_blank">
          <i class="fa fa-fw fa-2x fa-facebook text-black-50">Share to Facebook</i>
        </a>
        <a href="https://www.pinterest.com/pin/create/button/?description={{ product.description | urlencode }}&url={% setting BASE_URL %}/{{ page.url | urlencode }}&media={{ product.images.0.src }}" target="_blank">
          <i class="fa fa-fw fa-2x fa-pinterest text-black-50">Share to Pinterest</i>
        </a>
      </div> {% endcomment %}
    </div>

    <div class="col">
      <header class='mb-3 lh-1'>
        <h1 class='m-0 fs-2'>{{product.title}} <span class='text-secondary fw-light'>{{metafields.subtitle}}</span></h1>    
        <div class='h5 fs-2 fw-light'>By {{ metafields.author|join:", "}}</div>   
        {% for forward in metafields.forward_by %}
          <div>{{ forwrd }}</div>
        {% endfor %}
      </header>
      <div class='badge rounded-pill bg-primary text-dark fw-light fs-6 mb-2'>LBC book of the month: <span class='fw-normal'>{{ metafields.published_date|date:"F Y" }}</span></div>
    
      <hr/>

      <div class='row'>
        {% for variant in product.variants %}
          <div class='col-6 col-md-4 text-center'>
            <button class="btn btn-sm btn-outline-secondary" data-action="click->product#add" data-variant-id="{{variant.id}}">
              Buy {{variant.title}}
            </button>
            <div>{% money_localize variant.price "GBP" %}</div>
          </div>
        {% endfor %}
        </div>

      <hr/>

      <section>
          <div class="product-description">{{ product.body_html | safe }}</div>
      </section>
    </div>

  </div>
</article>

{% endblock %}
