{% extends "base.html" %}
{% block title %}Bulk update subscriptions | Left Book Club{% endblock %}
{% comment %} {% block content_padding %}p-5{% endblock %}
{% block content_width %}container-fluid{% endblock %}
{% block content_extra_classes %}tw-bg-green-300{% endblock %} {% endcomment %}
{% block content %}
    <header class='text-center my-4'>
        <h1>Bulk update subscriptions</h1>
    </header>
    <form method='POST' data-turbo="false" id="bulk-update-subscription-form">
        {{ form.non_field_errors }}
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit" name="action">Start bulk update</button>
        </div>
    </form>
{% endblock %}
