{% extends "base.html" %}
{% block extra_js %}<script>
    window.addEventListener('load', 
    function() { 
        gtag('event', 'purchase', {
            transaction_id: {{user.stripe_customer.invoice_prefix }},
            value: {{gift_giver_subscription}},
            coupon: {{promo_code.code}},
          });
    }, false)
</script>{% endblock %}
{% load account setting django_bootstrap5 %}
{% block head_title %}Welcome to the Left Book Club{% endblock %}
{% block content %}
    <div class='container'>
        <div class="row justify-content-md-center text-center">
            <div class='col col-md-6 col-lg-4'>
                <header class="pricing-header p-3 pb-md-4 mx-auto text-center">
                    <h1 class="h2 fw-normal">You've bought a gift membership!</h1>
                    <p class="fs-5 text-muted">Thank you for supporting the Left Book Club.</p>
                </header>
                {% if error is None %}
                    {% if promo_code %}
                        <p>
                            Give the gift code below to your intended recipient and ask them to visit <a href='{% setting "BASE_URL" %}{% url "redeem" code=promo_code.code %}'>this link</a> to activate their membership.
                        </p>
                    {% endif %}
                    {% if gift_giver_subscription %}
                        <div class='my-4'>{% include "app/includes/gift_card.html" with subscription=gift_giver_subscription %}</div>
                    {% endif %}
                {% endif %}
                <p>We've sent you an email with these details.</p>
                <p>
                    You can find your purchased gift card <a href="{% url 'gift_cards' %}">here</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
