{% extends "base.html" %}
{% load wagtailsettings_tags account setting date django_bootstrap5 wagtailcore_tags static wagtailroutablepage_tags django_bootstrap5 setting %}
{% block head_title %}Update successful | Left Book Club{% endblock %}
{% block content %}
    {% if error %}
        {% bootstrap_alert error alert_type='danger' %}
    {% endif %}
    <div class="p-3 pb-md-4 mx-auto tw-max-w-lg">
        {% with user.active_subscription.membership_plan_price.humanised_interval as interval_text %}
            <h3 class='mt-5'>Add a recurring donation</h3>
            <p>
                If you have remained on a legacy or a standard price, please consider adding a monthly donation to your membership fee. Any amount, however small, will make a huge difference. Thank you!
            </p>
            {% include "app/includes/donation_form.html" %}
        {% endwith %}
    </div>
{% endblock %}
