{% extends "base.html" %}
{% load wagtailcore_tags static wagtailroutablepage_tags django_bootstrap5 setting %}
{% block body_class %}tw-bg-background{% endblock %}
{% block content %}
  {% if page.layout %}
    {% for block in page.layout %}
        {% if block.type == 'heading' %}
          <h2 class='my-2'>{% include_block block %}</h2>
        {% if block.type == 'richtext' %}
          <section class='
            my-2
            col col-12 col-md-7 col-lg-6
            {% if block.alignment == "left" %}
            {% elif block.alignment == "center" %}
              justify-content-md-center
            {% if block.alignment == "right" %}
              justify-content-md-end
            {% endif %}
          '>
            {% include_block block %}
          </section>
        {% elif "one_column" in block.type %}
          <section class='row gx-0'>
            <div class='
              col col-md-6 col-lg-5 p-3
              {% if block.alignment == "left" %}
              {% elif block.alignment == "center" %}
                justify-content-md-center
              {% if block.alignment == "right" %}
                justify-content-md-end
              {% endif %}
            '>
              {% include_block block %}
            </div>
          </section>
        {% elif block.type = "hero_text" %}
          <section class='row gx-0'>
            <div class='col col-lg-7 p-3 pb-5'>
              {% include_block block %}
            </div>
          </section>
        {% else %}
          <section class='my-2'>{% include_block block %}</section>
        {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
