{% extends "base.html" %}
{% load static wagtailroutablepage_tags mathfilters djmoney %}

{% block content %}

{% if error is not None %}
    <h1>Something went wrong</h1>
{% elif customer is not None %}
    <h1>Welcome to the Left Book Club, {{ customer.first_name }}!</h1>
{% elif prices is not None %}
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Can you be a solidarity subscriber?</h1>
    <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
  </div>
  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      {% for price in prices %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">{{ price.name }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{% money_localize price.unit_amount|div:100 price.currency %}<small class="text-muted fw-light">/mo</small></h1>
            {{ price.description }}
            <a class="w-100 btn btn-lg btn-primary" href="{% routablepageurl page "checkout" price_id=price.id %}">
              Select
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% elif products is not None %}
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Pick a plan</h1>
    <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
  </div>
  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      {% for product in products %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">{{ product.name }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{% money_localize 0|div:100 'gbp' %}<small class="text-muted fw-light">/mo</small></h1>
            {{ product.description }}
            <a class="w-100 btn btn-lg btn-primary" href="{% routablepageurl page "pick_price_for_product" product_id=product.id %}">
              Select
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endif %}

{% endblock %}