{% extends "base.html" %}
{% load static wagtailroutablepage_tags mathfilters djmoney %}

{% block content %}
  <header class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="h4 fw-normal">Choose your plan</h1>
    <p class="fs-5 text-muted">Your subscription will begin with the most recently published book in your chosen collection.</p>
  </header>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      {% for product in products|slice:":3" %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">{{ product.name }}</h4>
          </div>
          <div class="card-body">
            <div class="h1 card-title pricing-card-title">{% money_localize product.basic_price.unit_amount|div:100 product.basic_price.currency %}<small class="text-muted fw-light">/mo</small></div>
            <p>{{ product.description }}</p>
            <a class="w-100 btn btn-lg btn-primary" href="{% routablepageurl page "pick_price_for_product" product_id=product.id %}">
              Select
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}
