{% extends "base.html" %}
{% load static wagtailroutablepage_tags django_bootstrap5 %}
{% block content %}
{% with request.GET.gift_mode as gift_mode %}
  {% routablepageurl page 'pick_product' as back_link %}
  <main>
    <div class="row justify-content-md-center">
      <div class='col col-md-6 col-lg-4'>
        <header class="pricing-header my-4">
          <h2 class="h3 fw-normal text-center">Confirm{% if gift_mode %} gift{% endif %} details</h2>
        </header>
        <div class="mb-3">
          <label class="form-label"> 
            {% if gift_mode %}
              You're buying a gift card for someone:
            {% elif user.is_member %}
              You're switching to another plan:
            {% endif %}
          </label>
          <div class='p-3 bg-light rounded-3 my-2'>
            <div class="h5 mb-0">
              {{ product.name }} {% if gift_mode %}<span>- as a gift</span>{% endif %}
            </div>
          </div>
          {% if gift_mode %}
            {% bootstrap_button href=back_link|add:"?gift_mode=true" content="Change" button_class="w-100 btn-outline-light text-dark" size='sm' %}
          {% else %}
            {% bootstrap_button href=back_link content="Change" button_class="w-100 btn-outline-light text-dark" size='sm' %}
          {% endif %}
        </div>
        <form
          data-turbo="false"
          data-controller="shipping"
          data-shipping-url-value="{{ url_pattern }}{% if gift_mode %}?gift_mode=true{% endif %}"
          data-shipping-product-value="{{ product.id }}"
          data-shipping-target="form"
          action="{% routablepageurl page "checkout" product_id=product.id %}"
          method="get"
        >
          {% if gift_mode %}
            <input type='hidden' name='gift_mode' value='true' />
          {% endif %}
          {% csrf_token %}
          <div class='position-relative'>
            {% bootstrap_field country_selector_form.country %}
          </div>
          <turbo-frame data-shipping-target="frame" id='shipping-costs' src="{% url "shippingcosts" product_id=product.id country_id=default_country_code %}{% if gift_mode %}?gift_mode=true{% endif %}">
            <div class='p-3 bg-light rounded-3 my-2'>
              <div class="text-muted mb-1 text-center">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span>Loading shipping options...</span>
              </div>
            </div>
          </turbo-frame>
          {% if user.is_member and not gift_mode %}
          <div class='row justify-content-center'>
            <div class="form-check max-width-card w-100">
              <input required class="form-check-input" type="checkbox" value="" id='confirm_cancel_current_subscriptions' name='confirm_cancel_current_subscriptions'>
              <label class="form-check-label" for="confirm_cancel_current_subscriptions">
                <p>I confirm that my existing subscription(s) will be <u>immediately cancelled</u> and replaced with this new subscription: <i>{{ user.subscribed_product.name }}</i></p>
              </label>
            </div>
          </div>
          {% endif %}
        </form>
      </div>
    </div>
  </main>
{% endwith %}
{% endblock %}
