{% extends "base.html" %}
{% load account %}

{% block content %}
    <header class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="h2 fw-normal">Welcome to the Left Book Club, {% user_display user %}</h1>
      <p class="fs-5 text-muted">Your first book is on its way!</p>
    </header>
    {% with settings.app.FeaturedContent.current_book as book %}
    {% if book is not None %}
    <div class="card mb-3 mx-auto">
      <div class="row g-0">
        {% if book.shopify_product.images.0 %}
        <div class="col-md-6">
          <div class='sticky sticky-top'>
            <img src="{{ book.shopify_product.images.0.src }}" class="d-block w-100" />
          </div>
        </div>
        {% endif %}
        <div class="col-md-6">
          <div class="card-body">
            <span class="badge rounded-pill bg-primary mb-3 text-dark">Preparing for delivery</span>
            <h1 class='m-0 fs-2'>{{book.title}}</h1>    
            {% if book.shopify_product_metafields.subtitle %}
              <h2 class='m-0 fs-2 text-secondary'>{{book.shopify_product_metafields.subtitle}}</h2>
            {% endif %}
            {% if book.shopify_product_metafields.author %}
              <div class='h5 fs-2'>By {{ book.shopify_product_metafields.author|join:", "}}</div>   
            {% endif %}
            {% for forward in book.shopify_product_metafields.forward_by %}
              <div>{{ forward }}</div>
            {% endfor %}
            <p class="card-text">{{ book.shopify_product.body_html | safe }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endwith %}
{% endblock %}
