{% extends "base.html" %}
{% load account %}

{% block content %}
    <header class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="h2 fw-normal">Welcome to the Left Book Club, {% user_display user %}</h1>
      <p class="fs-5 text-muted">Your first book is on its way!</p>
    </header>
    {% with settings.app.FeaturedContent.current_book as book %}
    {% if book is not None %}
        {% include "app/includes/book_card.html" with page=book label="Preparing for delivery" %}
    {% endif %}
    {% endwith %}
{% endblock %}
