{% extends "base.html" %}
{% load django_bootstrap5 gift_card static %}
{% block title %}Update your membership | Left Book Club{% endblock %}
{% comment %} {% block content_padding %}p-5{% endblock %}
{% block content_width %}container-fluid{% endblock %}
{% block content_extra_classes %}tw-bg-yellow{% endblock %} {% endcomment %}
{% block content %}
    <header class='text-center my-4'>
        <h1>Thanks for considering upgrading</h1>
    </header>
    {% if not user.should_upgrade %}
        <p>You're on a standard membership plan, so there are no actions to take. Happy reading!</p>
    {% else %}
        <form method='POST' data-turbo="false" id="upgrade-form">
            {% csrf_token %}
            <div class='row justify-content-center'>
                <div class='max-width-card w-100'>
                    {% if error %}
                        {% bootstrap_alert error alert_type='danger' %}
                    {% endif %}
                    {% bootstrap_form form show_label=False field_class="text-center fs-4" size="lg" %}
                </div>
            </div>
            <button type="submit">Upgrade</button>
        </form>
    {% endif %}
{% endblock %}
