{% load static django_vite %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% vite_hmr_client %}
        <script>
            document.documentElement.classList.remove('no-js')
        </script>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
        
        {% vite_asset 'frontend/main.ts' %}

        {% block extra_css %}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% block content %}
        {% endblock %}
    </body>
</html>
