{% extends "base.html" %}
{% load wagtailcore_tags static wagtailroutablepage_tags django_bootstrap5 setting %}
{% block body_class %}tw-bg-background{% endblock %}
{% block content %}
  {% if page.layout %}
    {% for block in page.layout %}
        {% if block.block_type == 'heading' %}
          <h2 class='my-2'>{% include_block block %}</h2>
        {% elif block.block_type == 'richtext' %}
          <section class='
            my-2
            row gx-0
            {% if block.value.alignment == "left" %}
            {% elif block.value.alignment == "center" %}
              justify-content-md-center
            {% elif block.value.alignment == "right" %}
              justify-content-md-end
            {% endif %}
          '>
            <div class='col col-12 col-md-7 col-lg-6'>
              {% include_block block %}
            </div>
          </section>
        {% elif "one_column" in block.block_type %}
          <section class='
            my-2
            row gx-0
            {% if block.value.alignment == "left" %}
            {% elif block.value.alignment == "center" %}
              justify-content-md-center
            {% elif block.value.alignment == "right" %}
              justify-content-md-end
            {% endif %}
          '>
            <div class='col col-md-6 col-lg-5 p-3'>
              {% include_block block %}
            </div>
          </section>
        {% elif block.block_type == "hero_text" %}
          <section class='my-2 row gx-0'>
            <section class='{{block.value.background_color}} p-2'>
              <section class='row gx-0'>
                <div class='col col-lg-7 p-3 pb-5'>
                  <h2 class='h1 fw-bold'>{{block.value.heading}}</h2>
                </div>
              </section>
            </section>
          </section>
        {% else %}
          <section class='my-2'>{% include_block block %}</section>
        {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
